@import "./palette";




// text
$text-dark-primary: $dark-100;
$text-dark-secondary: $dark-200;
$text-dark-tertiary: $dark-500;
$text-light-primary: $light-200;
$text-light-secondary: $light-300;


// background
$bg-dark-primary: $dark-200;
$bg-light-primary: $light-200;

// pop!
$pop-primary: $light-500;
$pop-secondary: $alt-300;

