

$dark-100: #111;
$dark-200: #222;
$dark-300: #333;
$dark-400: #555;
$dark-500: #888888;

$light-100: #fff;
$light-200: #f8f1e1;
//$light-200: #f4f1d0;
$light-300: #ece3ce;
$light-400: #ece3ce; // todo tbd
$light-500: #f2db5b;

$alt-300: #37c0aa; // todo is this right?
